In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import graphviz

In [2]:
data_set=pd.read_csv('train.csv')

In [3]:
X_train=data_set.drop(["Survived",'Ticket','Cabin','Name','Age'],axis=1)

In [10]:
survived_train_new=data_set['Survived']

In [15]:
data_without_survived=data_set.drop(['Survived'],axis=1)

In [9]:
from sklearn.cross_validation import train_test_split

In [16]:
X_train_new, X_test_new, y_train_new, y_test_new=train_test_split(data_without_survived,survived_train_new,train_size=0.8,random_state=0)

In [18]:
X_train_new=X_train_new.drop(['Ticket','Cabin','Name','Age'],axis=1)
X_test_new=X_test_new.drop(['Ticket','Cabin','Name','Age'],axis=1)

In [19]:
from  sklearn import tree

In [20]:
clf=tree.DecisionTreeClassifier()

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
labelencoder_X=LabelEncoder()

In [34]:
X_train_new['Sex']=labelencoder_X.fit_transform(X_train_new['Sex'])
X_train_new['Embarked']=labelencoder_X.fit_transform(X_train_new['Embarked'])
X_test_new['Sex']=labelencoder_X.fit_transform(X_test_new['Sex'])
X_test_new['Embarked']=labelencoder_X.fit_transform(X_test_new['Embarked'])

In [32]:
clf=clf.fit(X_train_new,y_train_new)

In [35]:
nan_index_train = X_train_new['Fare'].index[X_train_new['Fare'].apply(np.isnan)]
nan_index_test = X_test_new['Fare'].index[X_test_new['Fare'].apply(np.isnan)]

In [38]:
y_test_new_predicted=clf.predict(X_test_new)

In [41]:
from sklearn.metrics import confusion_matrix

In [43]:
cf=confusion_matrix(y_test_new,y_test_new_predicted)

In [44]:
cf

array([[78, 32],
       [20, 49]])

In [47]:
from sklearn.metrics import accuracy_score

In [48]:
accuracy_score(y_test_new,y_test_new_predicted)

0.70949720670391059

In [66]:
survived_data=pd.read_csv('test.csv')

In [67]:
test_data=survived_data.drop(['Ticket','Cabin','Name','Age'],axis=1)

In [68]:
test_data['Sex']=labelencoder_X.fit_transform(test_data['Sex'])
test_data['Embarked']=labelencoder_X.fit_transform(test_data['Embarked'])

In [90]:
nan_index_test = test_data['Fare'].index[test_data['Fare'].apply(np.isnan)]
test_data.set_value(nan_index_test,'Fare',np.nanmean(test_data['Fare']))

     PassengerId  Pclass  Sex  SibSp  Parch      Fare  Embarked
0            892       3    1      0      0    7.8292         1
1            893       3    0      1      0    7.0000         2
2            894       2    1      0      0    9.6875         1
3            895       3    1      0      0    8.6625         2
4            896       3    0      1      1   12.2875         2
5            897       3    1      0      0    9.2250         2
6            898       3    0      0      0    7.6292         1
7            899       2    1      1      1   29.0000         2
8            900       3    0      0      0    7.2292         0
9            901       3    1      2      0   24.1500         2
10           902       3    1      0      0    7.8958         2
11           903       1    1      0      0   26.0000         2
12           904       1    0      1      0   82.2667         2
13           905       2    1      1      0   26.0000         2
14           906       1    0      1      0   61.1750         2
15           907       2    0      1      0   27.7208         0
16           908       2    1      0      0   12.3500         1
17           909       3    1      0      0    7.2250         0
18           910       3    0      1      0    7.9250         2
19           911       3    0      0      0    7.2250         0
20           912       1    1      1      0   59.4000         0
21           913       3    1      0      1    3.1708         2
22           914       1    0      0      0   31.6833         2
23           915       1    1      0      1   61.3792         0
24           916       1    0      1      3  262.3750         0
25           917       3    1      1      0   14.5000         2
26           918       1    0      0      1   61.9792         0
27           919       3    1      0      0    7.2250         0
28           920       1    1      0      0   30.5000         2
29           921       3    1      2      0   21.6792         0
..           ...     ...  ...    ...    ...       ...       ...
388         1280       3    1      0      0    7.7500         1
389         1281       3    1      3      1   21.0750         2
390         1282       1    1      0      0   93.5000         2
391         1283       1    0      0      1   39.4000         2
392         1284       3    1      0      2   20.2500         2
393         1285       2    1      0      0   10.5000         2
394         1286       3    1      3      1   22.0250         2
395         1287       1    0      1      0   60.0000         2
396         1288       3    1      0      0    7.2500         1
397         1289       1    0      1      1   79.2000         0
398         1290       3    1      0      0    7.7750         2
399         1291       3    1      0      0    7.7333         1
400         1292       1    0      0      0  164.8667         2
401         1293       2    1      1      0   21.0000         2
402         1294       1    0      0      1   59.4000         0
403         1295       1    1      0      0   47.1000         2
404         1296       1    1      1      0   27.7208         0
405         1297       2    1      0      0   13.8625         0
406         1298       2    1      1      0   10.5000         2
407         1299       1    1      1      1  211.5000         0
408         1300       3    0      0      0    7.7208         1
409         1301       3    0      1      1   13.7750         2
410         1302       3    0      0      0    7.7500         1
411         1303       1    0      1      0   90.0000         1
412         1304       3    0      0      0    7.7750         2
413         1305       3    1      0      0    8.0500         2
414         1306       1    0      0      0  108.9000         0
415         1307       3    1      0      0    7.2500         2
416         1308       3    1      0      0    8.0500         2
417         1309       3    1      1      1   22.3583         0

[418 rows x 7 columns]

In [83]:
survived_prediction=clf.predict(test_data)

In [84]:
submission=pd.DataFrame({"PassengerID":test_data['PassengerId'],"Survived":survived_prediction})

In [85]:
submission.to_csv('decision_tree_submission_2.csv',index=False)

In [86]:
import graphviz

In [87]:
dot_data=tree.export_graphviz(clf,out_file=None)

In [88]:
graph=graphviz.Source(dot_data)

In [89]:
graph.render("test_decisiontree_2")

'test_decisiontree_2.pdf'